* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url("./assets/fondo8.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  overflow-x: hidden;
}
.App {
}
.ExitandGoback {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 10px;
}
.ExitandGobackHome {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(235, 76, 76);
}
.containerTitlePodekex {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}
figure {
  position: relative;
  animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
.pokedex {
  width: 500px;
}
.pokebola {
  position: absolute;
  width: 70px;
  height: 80px;

  left: 79px;
  top: 14px;
  border-radius: 100%;
}
.pokebola img {
  width: 100%;
  height: 100%;
}

.inputName {
  display: flex;
}
label {
  font-weight: bold;
}
input {
  height: 30px;
  width: 250px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border: none;
  outline: none;
}
.buttonLogin {
  width: 20px;
  height: 30px;
  background-color: #81df03;
  border: none;
}
.containerFormUserName {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
}
.pikachu {
  display: none;
}

.containerAllPokemon {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 20px;
}
.burronPagination {
  padding: 10px;
  height: 35px;
  background-color: #81df03;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  border-radius: 5px;
  font-weight: bold;
  margin: 1px;
}
.buttonNumbersPagination {
  padding: 10px;
  height: 35px;
  background-color: #81df03;
  border: none;

  border-radius: 5px;
  margin: 1px;
  font-weight: bold;
}
.containerSlick {
  text-align: center;
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showPokemon {
  width: 100px;
}
.showPokemon img {
  width: 100%;
}
/* lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */
.xx {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
  flex-wrap: wrap;
}
.chilWelcome,
.infoPrimaryChil {
  box-shadow: 5px 5px 10px grey;
  border-radius: 0px 20px;
  background-color: rgba(255, 255, 255, 0.74);
  padding: 10px;
  margin: 5px;
}
.search {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 50%;
  margin-top: 50px;
}
.input {
  height: 35px;
  width: 350px;
}
.button {
  width: 35px;
  height: 35px;
  background-color: #81df03;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.select {
  min-height: 30px;
  max-height: 30px;
  border: none;
  outline: none;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
  margin: 20px;
}
.infoEx {
  width: 200px;
  border-radius: 0 60px;
  background-color: rgba(255, 255, 255, 0.664);
  max-height: 200px;
  margin-top: 90px;
  padding: 20px;
}
/* 

Css Card

*/
/* container de card */
.containerListPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card {
  position: relative;
  width: 400px;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px grey;
}
.card img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  transition: 0.5s;
  z-index: 99;
}
.card:hover img {
  left: 80%;
  height: 400px;
}

.namePokemon {
  margin-left: 30px;
  max-width: 200px;
}

.card .containerInfo {
  position: relative;
  max-width: 150px;

  left: 20%;
  opacity: 0;
  padding: 20px 20px 20px 40px;
  visibility: hidden;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 30px;
}

.card:hover .containerInfo {
  opacity: 1;
  visibility: visible;
  left: 0%;
}
.card .containerInfo h2 {
  text-transform: uppercase;
  line-height: 1em;
}

.containerCardAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* pokemon detail */
.backgroundDetail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.c-Container {
  width: 60%;
}
.pokemonDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* position: relative; */
}
.containerPokemonInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}
.containerImg img {
  width: 300px;
  margin: 30px;
  border-radius: 0px 60px;
}
.infoPrimary {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}
.infoPrimaryChil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PokemonInfo {
  width: 35%;
  margin: 30px;
  border-radius: 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemonSkill {
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skillName {
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 20px;
  min-width: 150px;
  margin: 0 10px 10px 10px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.name {
  color: #fff;
  margin: 20px;
}

.titleinfo {
  min-width: 100px;
  font-weight: 900;
}
.containerSkill {
  width: 100%;

  text-align: center;
}

/* 

PokemonInfo
 */
/* bar progress */
.progress-bar {
  height: 35px;
  padding: 5px;
  width: 500px;
  margin: 20px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
 
}

.containerBar {
  background-color: #1a1a1a;
  height: 35px;
  padding: 5px;
  width: 300px;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width 0.4s ease-in-out;
  background-color: #ccc;
}


/**** SHINE ****/
.shine span {
  position: relative;
}

.shine span::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;
}

@keyframes animate-shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}
@media (max-width: 350px) {
  .c-Container {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .containerImg {
    max-width: 300px;
  }
  .pokemonSkill {
    margin: 5px;
    max-width: 300px;
  }
}
@media (max-width: 420px) {
  .card .containerInfo {
    padding: 30px;
    justify-content: center;
  }
  .card:hover img {
    left: 50%;
    height: 300px;
  }
}
@media (max-width: 700px) {
  .progress-bar {
    flex-direction: column;
    height: auto;
  }

  .containerBar {
    margin: 0;
  }
  .startAndEx {
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  body {
    background-image: url("./assets/o.jpg");
  }
  .pokedex {
    width: 100%;
  }
  .pokebola {
    width: 15%;
    height: 100%;
    left: 15%;
    top: 5%;
  }
  .pikachu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pikachu img {
    width: 160px;
    height: 250px;
  }
  .containerFormUserName {
    height: 160px;
  }
  .sliderShow {
    display: none;
  }
  .card {
    margin: 20px 0;
  }
}

@media (min-width: 551px) and (max-width: 650px) {
  body {
    background-image: url("./assets/fd.jpg");
  }

  .pokedex {
    width: 80%;
  }

  figure {
    display: flex;
    justify-content: center;
  }
  .pokebola {
    width: 13%;
    height: 100%;
    left: 21.7%;
    top: 5%;
  }

  .sliderShow,
  .pikachu {
    display: none;
  }
}
@media (max-width: 700px) {
  .PokemonInfo {
    flex-wrap: wrap;
  }
}
@media (max-width: 880px) {
  .PokemonInfo {
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .card {
    position: relative;
    min-width: 300px;
    max-width: 300px;
    transition: 0.5s;

    align-items: flex-start;
  }
  .card:hover {
    height: 350px;
  }
  .card:hover img {
    left: 50%;
    height: 250px;
  }
  .card .containerInfo {
    width: 100%;
    left: 0;
    padding: 20px;
  }
  .card .containerInfo {
    max-width: 150px;
    max-height: 170px;
  }
  .input {
    max-width: 250px;
  }

  .infoEx {
    margin-top: 0;
  }
}
/* colores segun los tipos de pokemon */
.bug {
  background-image: url(./assets/insecto.jpg);
}
.dark {
  background-image: url(./assets/darck.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dragon {
  background-image: url(./assets/dragon.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.electric {
  background-image: url(./assets/eletric.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fairy {
  background-image: url(./assets/fairy.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fighting {
  background-image: url(./assets/dorado.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fire {
  background-image: url(./assets/fuego.jpg);
}
.flying {
  background-image: url(./assets/volador.jpg);
}
.ghost {
  background-image: url(./assets/ghost.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grass {
  background-image: url(./assets/verde.jpg);
}
.ground {
  background-image: url(./assets/ground.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.ice {
  background-image: url(./assets/ice.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.normal {
  background-image: url(./assets/silver.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.poison {
  background-image: url(./assets/greenPoison.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.psychic {
  background-image: url(./assets/psychic.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.rock {
  background-image: url(./assets/rock.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.steel {
  background-image: url(./assets/steel.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.water {
  background-image: url(./assets/agua.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* colores para los start name */
.red {
  color: rgb(182, 9, 9);
}
.green {
  color: rgb(12, 235, 12);
}
.silver {
  color: rgb(94, 94, 94);
}
.yellow {
  color: rgb(211, 211, 0);
}


/**** GRADIENTS ****/
.silver span {
  background-color: silver;
}

.red span {
  background-color: red;
}

.green span {
  background-color: #a5df41;
}
.yellow span {
  background-color: yellow;
}
